.admin {
    display: flex;
    justify-content: center;
    background: var(--cor-back-login);
    color: var(--cor-product-title);
    min-height: 400px;
    padding-top: 1rem;
}

.admin_form div{
    width: 100%;
}

.admin_title {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 4.5rem;
    width: 100%;
}

.admin_button {
    display: flex;
    align-self: center;
    background: var(--cor-button);
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    color: var(--cor-title-letter);
    display: block;
    font-weight: var(--font-paragraph);
    font-size: 16px;
    margin-top: 0.5rem;
    height: 48px;
}

.admin_button:hover {
    background: var(--cor-button-hover);
}

.menu_admin {
    min-width: fit-content;
}

.menu_admin a {
    border: 1px solid var(--cor-button);
    color: var(--cor-button);
    font-size: 12px;
}

.menu_admin a:hover {
    background: var(--cor-button);
    color: var(--cor-menu-login-letter);
}

@media screen and (min-width: 0) {
    .admin {
        justify-content: flex-start;
        padding-left: 2vw;
    }
    .admin_div {
        width: 90%;
    }
    .admin_button {
        width: 100%;
    }
    .menu_admin a {
        margin-right: 5px;
        padding: 12px 1rem;
        width: 70%;
    }
}

@media screen and (min-width: 450px) {
    .menu_admin a {
        margin-right: 25px;
        padding: 12px 1rem;
    }
}

@media screen and (min-width: 768px) {
    .admin {
        justify-content: center;
    }
    .admin_div {
        width: 45%;
    }
    .menu_admin a {
        margin-right: 55px;
    }
}