.description {
    background: var(--cor-back-login);
}

.description_div {
    color: var(--cor-product-title);
    display: flex;
    font-weight: var(--font-titles);
    width: 100%;
}

.description_div img {
    border-radius: 4px;
    height: fit-content;
    max-height: 400px;
}

.description_text {
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.description_title {
    font-weight: var(--font-subtitle);
}

.description_price {
    font-size: 16px;
}

.description_subtext {
    font-weight: 400;
}

@media screen and (min-width:0) {
    .description {
        padding: 0;
    }
    .description_div {
        flex-direction: column;
    }
    .description_div img {
        width: 100%;
    }
    .description_title {
        font-size: 22px;
    }
    .description_subtext {
        font-size: 14px;
    }
    .description_subtext, .description_price, .description_title {
        margin: 0.25rem 0;
    }
}

@media screen and (min-width: 450px) {
    .description {
        padding: 0.75rem 3.75% 0.25rem 3.75%;
    }
    .description_div {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .description_div img {
        width: 45vw;
        min-height: 200px;
    }
}

@media screen and (min-width:768px) {
    .description_div img {
        width: 45vw;
        min-height: 300px;
    }
    .description_title {
        margin: 1rem 0;
        font-size: 52px;
    }
    .description_subtext {
        font-size: 16px;
        margin-top: 0;
    }
}