.error_container {
    display: flex;
    justify-content: center;
    background: var(--cor-back-login);
    color: var(--cor-product-title);
    min-height: 450px;
    padding-top: 1rem;
}

.error_div {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    height: fit-content;
    background: var(--cor-menu-back);
    border: 1px solid var(--cor-border);
    border-radius: 10px;
    padding: 2rem;
}

.error_title {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.error_button {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    background: var(--cor-button);
    border: none;
    border-radius: 2px;
    box-sizing: border-box;
    color: var(--cor-title-letter);
    font-weight: var(--font-paragraph);
    font-size: 16px;
    margin-top: 0.5rem;
    height: 48px;
}

.error_button:hover {
    background: var(--cor-button-hover);
}

@media screen and (min-width: 0) {
    .error_container {
        padding-left: 2vw;
    }
    .error_div {
        width: 45%;
    }
    .error_button {
        width: 35vw;
    }
}

@media screen and (min-width: 768px) {
    .error_container {
        justify-content: center;
    }
    .error_div {
        width: 350px;
    }
    .error_button {
        width: 15vw;
    }
}